.gray-card-back {
	position: relative;
	width: 390px;
	height: 230px;
	background-color: #e5e4e2;
	border-radius: 7px;
	box-shadow: 3px 3px 5px #c0c0c0;
	font-family: var(--font);
	color: var(--text-color) !important;

	.bg-image {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		opacity: 0.48;
		padding: 40px 10px 30px;
	}

	.content {
		position: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 4px 5px;

		.content-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			// height: 30%;

			.header-seal {
				width: 45px;
				display: flex;
				justify-content: start;
			}

			.header-flag {
				width: 45px;
				display: flex;
				justify-content: end;
			}

			.main {
				display: flex;
				flex-direction: column;
				text-align: center;

				.maintitle-text {
					font-size: 10px;
					font-weight: 800;
					text-transform: uppercase;
					letter-spacing: 1px;
				}

				.subtitle-text {
					font-size: 7px;
				}

				.title-text {
					margin-top: 5px;
					font-size: 11px;
					font-weight: 800;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}

		.content-info {
			.content-info-title {
				font-size: 8.7px;
				font-weight: 800;
				text-transform: uppercase;
			}

			.content-info-subtitle {
				font-size: 11.5px;
				text-transform: uppercase;
			}

			.content-info-row {
				padding-top: 0;
				padding-bottom: 7px;
			}

			.text-size-subtitle {
				font-size: 9px;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
}
