.immatriculation-plate-square {
	width: 230px;
	height: 100px;
	border: 3px solid black;
	border-radius: 4px;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	font-family: var(--font);
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;

	div {
		//color: #000 !important;
	}

	.plate-first-row {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-evenly;

		.plate-prefix {
			margin-left: 10px;
		}
	}

	.plate-numbers {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		.plate-number {
		}
	}

	.plate-republic {
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;

		div:last-child {
			span {
				padding-left: 4px;
			}
		}
	}
}
