@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4C717E99-24D6-4711-BABB-BA4AC35C4AEA
npmScopes:
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: "4C717E99-24D6-4711-BABB-BA4AC35C4AEA"