/*! fonts.scss | Vuero | Css ninja 2020-2023 */

:root {
	--font: "Montserrat", sans-serif;
	--font-alt: "Montserrat", sans-serif;
	--font-monospace: "Fira Code", monospace;
	--font-size: 0.875rem;
}
