.bg-affiliate {
    background-color: #2845dc;
}

.border-affiliate {
    border-color: #1b2f98;
}

.bg-interpol {
    background-color: #2583B3;
}

.border-interpol {
    border-color: #176085;
}

.bg-police {
    background-color: #4343a6;
}

.border-police {
    border-color: #1b1b71;
}

.bg-anatt {
    background-color: #a9a15b;
}

.border-anatt {
    border-color: #1b1b71;
}

.bg-bank {
    background-color: #4e1ca5;
}

.border-bank {
    border-color: gray;
}

.bg-approved {
    background-color: #1C9378;
}

.border-approved {
    border-color: #106B57;
}

.bg-user {
    background-color: #bfd340;
}

.border-user {
    border-color: #a2b626;
}

.bg-central_garage {
    background-color: #AEE32F;
}

.border-central_garage {
    border-color: #1B1B71;
}

.bg-auctioneer {
    background-color: #AEE32F;
}

.border-auctioneer {
    border-color: #1B1B71;
}

.bg-gma {
    background-color: #E3A12F;
}

.border-gma {
    border-color: #1B1B71;
}

.bg-gmd {
    background-color: #A6438C;
}

.border-gmd {
    border-color: #1B1B71;
}

.bg-clerk {
    background-color: #3793AE;
}

.border-clerk {
    border-color: #1B1B71;
}

.bg-distributor {
    background-color: #BFD340;
}

.border-distributor {
    border-color: #A2B626;
}

.bg-court {
    background-color: #A64343;
}

.border-court {
    border-color: #1B1B71;
}
