.notification-content {
	width: 450px;
	@include media-breakpoint-down(sm) {
		width: 280px;
	}
	.notification-content__title {
		@apply font-medium mb-1 text-center text-primary;
	}
	.notification-content__box {
		@apply p-5;
	}
}
